{{extend 'layout.html'}}

{{=search}}

<!--
{{=FORM(INPUT(_name='search', _value='Search Events', _onblur="if(this.value == ''){this.value = 'Search Events'}", _onFocus="if(this.value=='Search Events'){this.value=''}", requires=IS_NOT_EMPTY()), INPUT(_type='submit', _action=URL('search')))}}
-->

{{=HTML(events)}}
<div align="left">
<table border="0"> <tr>
	<td> <form action="{{URL('default','index')}}">
		<input type="submit" value="All">
	</form> </td>
	<td> <form action="{{URL('default','wall')}}">
		<input type="submit" value="My Calendar">
	</form> </td>
    <td> <form action="{{URL('default','wall')}}">
		<input type="submit" value="Add Event">
	</form> </td>
	</tr>
	</table>
</div>
<div id='calendar'></div>
