{{extend 'layout.html'}}

{{=search}}

<!--
{{=FORM(INPUT(_name='search', _value='Search Events', _onblur="if(this.value == ''){this.value = 'Search Events'}", _onFocus="if(this.value=='Search Events'){this.value=''}", requires=IS_NOT_EMPTY()), INPUT(_type='submit', _action=URL('search')))}}
-->

{{=HTML(events)}}

<script>
$(document).ready(function() {
    $("#all_button").click(function(){
        {{=get_all_cal}}
    });
    $("#my_button").click(function(){
        {{=get_your_cal}}
    });
});

</script>
<div align="left">
<table border="0"> <tr>
	<td> <form>
		<input id="all_button" type="submit" value="All">
	</form> </td>
	<td> <form>
		<input id="my_button" type="submit" value="My Calendar">
	</form> </td>
	</tr>
	</table>
</div>
<div id='calendar'></div>
