
#banner{
	//background:black;
	//background-size:100%;	
    background-image:url('../images/title-bg.jpg');
    background-repeat:repeat;
	position:absolute;
	left: 0;
	right: 0;
	height:160px;
}

.login_button {
	background-color:transparent;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:47px;
	text-decoration:none;
	text-align:center;
}.login_button:active {
	position:relative;
	top:1px;
} a.login_button:hover {
	position:relative;
	color:#CCCCCC;
	font-style:normal;
	text-decoration:none;
}
#login{
position:absolute;
top: 27px;
right:20px;
}
